.schedule__loadmore_btn {
  display: block;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 10px;
  background-color: rgba(129, 83, 140, 0);
  text-align: center;
  width: calc(100vw - 40px);
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 34px;
  color: rgb(153, 153, 153);
  outline: none;
  position: relative;
}

.schedule__loadmore_btn::after {
  position: absolute;
  transform: translateX(10px);
  content: url("../../helpers/img/more.png");
}